/*
*= require_self
*= require_tree . 
*/

@import "bootstrap-sprockets";
@import "bootstrap";

// Universal

body {
  padding-top: 60px;
}

.custom-form {
	border-radius: 0;
}

.custom-button {
	border-radius: 0;
	background: transparent;
	opacity: 0.9;
	color: black;
	border: .5rem solid black;
}

