/*ul.cities {
	list-style: none;
	width: 100%;
}

li {
	list-style: none;
  padding-left: -1rem;
}*/

img.gravatar {
  border-radius: 4rem;
  float: left;
  height: 6rem;
}

div#content {
  padding-left: 10rem;
}

div#gravatar {
  width: 0%;  
}

a {
  color: #D7907B;
}
