ul.cities {
	text-align: center;
	list-style: none;
	width: 100%;
}

li {
	display: inline-block;
	list-style: none;
}

img.gravatar {
  border-radius: 4rem;
  float: left;
  height: 6rem;
}

div#title {
  padding-left: 10rem;
}

div#gravatar {
  width: 0%;
  
}

div#body {
  padding-left: 10rem;
}